<a href="https://colab.research.google.com/github/Jatin666/py-assignment/blob/master/day%2014%20%3Dcad14.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
 ##Write a Python program to create a tuple with different data types.
 print("creating a tuple with strings")
 string=('Diksha','Jatin','Pankaj','nabieu')
 print("creating a tuple with integer")
 string2=(1,2,3,4)
 print("creating a string with float\n")
 string3=(3.14,2.57,254.20,12.3)
 print(string)
 print(string2)
 print(string3)

creating a tuple with strings
creating a tuple with integer
creating a string with float

('Diksha', 'Jatin', 'Pankaj', 'nabieu')
(1, 2, 3, 4)
(3.14, 2.57, 254.2, 12.3)

In [0]:
##Write a Python program to add an item in a tuple.
string=('Diksha','Jatin','Pankaj','nabieu')
a='hitesh'
b=string + (a,)
print(b)

('Diksha', 'Jatin', 'Pankaj', 'nabieu', 'hitesh')

In [16]:
##Write a Python program to convert a tuple to a string.
tuples=('h','i','i')
a=()
c= a+(tuples,)
print(c)

(('h', 'i', 'i'),)

In [0]:
 ##Write a Python program to find the length of a tuple
 string=('Diksha','Jatin','Pankaj','nabieu')
 print(len(string))

4

In [0]:
## Write a Python program to reverse a tuple
 string=('Diksha','Jatin','Pankaj','nabieu')
print(string[::-1])

('nabieu', 'Pankaj', 'Jatin', 'Diksha')

In [1]:
##Create a tuple of 50 random numbers from 1-25. Ask the user to input any no. from 1-25 and check the count of that particular number in your tuple
import random
count=0
end=" "
empty=()
for i in range(50):
  computer=random.randint(1,25)
  empty=empty+((computer),)
print(empty,end=" ")
a=input("enter any number from 1-25")
if number in empty:
  count = empty.count(a)
  print("the count is :"+str(count))
  count=+1

(8, 25, 20, 11, 22, 19, 10, 7, 19, 13, 15, 20, 22, 12, 13, 10, 25, 8, 25, 3, 13, 7, 25, 21, 20, 12, 10, 5, 25, 17, 6, 1, 13, 11, 20, 10, 8, 3, 17, 4, 12, 2, 15, 17, 8, 12, 10, 13, 1, 10) enter any number from 1-2514

NameError: ignored