<a href="https://colab.research.google.com/github/Jatin666/py-assignment/blob/master/day%2014%20cad.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
##Ask the user to input- Name, Phone Number and Email id . Once Details are taken insert the details in a list and print the list.
a=input("enter the name : ")
b=int(input("enter the number : ")
c=input("enter the email.id : ")
d=[]
e=a+b+c
f=d.append(e)
print(f)

SyntaxError: ignored

In [44]:
## Write a program that generates a list L of 50 random numbers between 1 and 100. 
import random
start=0
end=" "
empty=[]
for i in range(50):
  computer=random.randint(0,100)
  empty.append(computer)
print(empty)

[33, 40, 66, 82, 5, 27, 43, 95, 17, 98, 27, 35, 92, 63, 80, 67, 3, 80, 80, 23, 32, 29, 10, 8, 35, 9, 52, 20, 91, 77, 1, 67, 57, 40, 90, 14, 68, 39, 69, 62, 86, 92, 24, 4, 44, 5, 14, 87, 12, 88]

In [0]:
##write a program that ask the user to enter a list of integer. do the following
##print the total number of items in the list
##print the last item in the list
##print the list in reverse order
##print yes if list contains 5 otherwise NO
##print the number of 5 in the list
##remove the first and last item in the list and sort the remaining item and print the list
##print how many integers are less than 5

a=['jatin','diksha','nabieu','pankaj']
print(len(a))

In [0]:
##print the last item in the list
a=['jatin','diksha','nabieu','pankaj']
print(a[-1])

pankaj

In [0]:
##print the list in reverse order
a=['jatin','diksha','nabieu','pankaj']
print(a[::-1])

['pankaj', 'nabieu', 'diksha', 'jatin']

In [0]:
##print yes if list contains 5 otherwise NO
a=['jatin','diksha','nabieu','pankaj',5]
if items in a is 5:
  print("yes")
else:
  print("no")

no

In [0]:
##print the number of 5 in the list

In [0]:
##remove the first and last item in the list and sort the remaining item and print the list
a=[1,4,7,2,6,3,5]
print(a)
print("after removing first and last item")
del a[0],a[-1]
print("unsorted list :"+str(a))
a.sort()
print("sorted list : "+str(a))

[1, 4, 7, 2, 6, 3, 5]
after removing first and last item
unsorted list :[4, 7, 2, 6, 3]
sorted list : [2, 3, 4, 6, 7]

In [0]:
##print how many integers are less than 5
a=[1,7,2,6,3]
b=5
count=0
for item in a:
  if item<b:
    count=count + 1
    print("less than 5 are"+str(count))

less than 5 are1
less than 5 are2
less than 5 are3

In [39]:
##write a program that generate a list of 20 random numbers between 1 and 100.
##print the list
##print the average of the element in the list
##print the largest and smallest value in the list
##print the second largest and second smallest entries in the list
##print how many even numbers are in the list

import random
start=0
end=" "
empty=[]
for i in range(20):
  computer=random.randint(0, 100)
  empty.append(computer)
print(empty)

[73, 85, 38, 80, 14, 1, 50, 62, 95, 19, 82, 69, 26, 31, 91, 43, 92, 82, 0, 51]

In [41]:
##print the average of the element in the list
import random
a=[1,4,2,5,6,9,8,33,4,25,14,26,47]
avg = (sum(a)/len(a))
print("The average is ",str(avg))

The average is  14.153846153846153

In [16]:
##print the largest and smallest value in the list
a=[1,4,2,5,6,9,8,33,4,25,14,26,47]
print(a)
a.sort()
print(a)
print("the largest value is "+ str(a[-1]))
print("the smallest value is "+str(a[0]))

[1, 4, 2, 5, 6, 9, 8, 33, 4, 25, 14, 26, 47]
[1, 2, 4, 4, 5, 6, 8, 9, 14, 25, 26, 33, 47]
the largest value is 47
the smallest value is 1

In [15]:
##print the second largest and second smallest entries in the list
a=[1,4,2,5,6,9,8,33,4,25,14,26,47]
print (a)
a.sort()
print(a)
print("the second largest number is "+str(a[-2]))
print("the second smallest number is :"+str(a[1]))

[1, 4, 2, 5, 6, 9, 8, 33, 4, 25, 14, 26, 47]
[1, 2, 4, 4, 5, 6, 8, 9, 14, 25, 26, 33, 47]
the second largest number is 33
the second smallest number is :2

In [29]:
##print how many even numbers are in the list
a=[1,4,2,5,6,9,8,33,4,25,14,26,47]
print(a)
for i in a:
  if i %2 ==0:
    print(i)

[1, 4, 2, 5, 6, 9, 8, 33, 4, 25, 14, 26, 47]
4
2
6
8
4
14
26